{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "main",
    "master",
    "next",
    "next-major",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "./tools/changelog.js",
        "releaseRules": [
          {
            "type": "chore",
            "scope": "deps",
            "release": "patch"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "config": "./tools/changelog.js"
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/npm",
      {
        "tarballDir": "dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/*.tgz",
            "label": "Distribution package"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "successCmd": "echo \"VERSION=${nextRelease.version}\" >> $GITHUB_ENV"
      }
    ]
  ]
}
